{% extends"layout.html" %}

{%block body %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<form class="d-flex" >

	<a href='{{ url_for("sign_out") }}'>
		<input type = 'button' class="btn btn-outline-success"  style="margin-right: 10pt; color = white;" value="Sign out"/>
	</a>
</form>
<div class='container'>
    <div class="home-content">
        <div class="home-form">  
            <div class="form-group">
                <label for="selectView">I want to  &nbsp</label>
                <select id="selectView">
                    <option value="general">Search Flight</option>
                    {% if permission == "Operator" %}
                    <option value="status_modify">Modify Flight</option>
                    {% endif %}
                    {% if permission == "Admin" %}
                    <option value="flight_add">Add Flight</option>
                    <option value="airplane_add">Add Airplane</option>
                    <option value="airport_add">Add Airport</option>
                    <option value="permission_modify">Modify Permission</option>
                    <option value="agent_add">Add Booking Agent</option>
                    {% endif %}
                </select>
                  
        
            <div id = "search_form">
                <form class = "staff_form search" action="/sign_in/staff_home" method="post">
                    <h2 class="form">Search Flight</h2>
                    <div class="form__group" id='from'>
                        <label for="from" class="form__label">Departure</label>
                        <input type="input" class="form__field" placeholder="Click to choose departure place"  list="list1"  autocomplete="off" name="from" />
                        <datalist id="list1">
                            {% for i in departure_city %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    
                    <div class="form__group"  id='to'>
                        <label for="from" class="form__label">Arrival</label>
                        <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list2"  autocomplete="off" name="to"  />
                        <datalist id="list2">
                            {% for i in arrival_city %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
        
                    <div class="form__group" id='date'>
                        <label for="from" class="form__label">Departure_time</label>
                        <input type="date" class="form__field" placeholder="" name="date" />
                    </div>
        
                    <div class="form__group"  id='airline'>
                        <label for="from" class="form__label">Airline Name</label>
                        <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list3"  autocomplete="off" name="airline"  />
                        <datalist id="list3">
                            {% for i in airlines %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
        
                    <div class="form__group"  id='flight_num'>
                        <label for="from" class="form__label">Flight Number:</label>
                        <input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
                        <datalist id="list4">
                            {% for i in flight_num %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
            
                    <div class="form-group form-button">
                        <input type="submit" value='search' name = "submit_button" class="search" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" value='clear_search' name = "submit_button" class="search" />
                    </div>
                    
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    All Flight:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Airline name</th>
                                        <th scope="col">Flight number</th>
                                        <th scope="col">Departure time</th>
                                        <th scope="col">Arrivel time</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Departure</th>
                                        <th scope="col">Arrival</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Purchase Customers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all %}
                                    {% if i['airline_name']== cur_airline%}
                                    <tr>
                                        <td>{{ i['airline_name']}}</td>
                                        <td>{{ i['flight_num']}}</td>
                                        <td>{{ i['departure_time']}}</td>
                                        <td>{{ i['arrival_time']}}</td>
                                        <td>{{ i['price']}}</td>
                                        <!-- <td>{{ i['status']}}</td> -->
                                        <td>{{ i['Departure']}}</td>
                                        <td>{{ i['Arrival']}}</td>
                                        {% if i['status'] == "Upcoming" %}
                                            <td><a href="#" class="btn btn-success">Upcoming</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Finished" %}
                                            <td><a href="#" class="btn btn-danger">Finished</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Delayed" %}
                                            <td><a href="#" class="btn btn-light">Delayed</a></td>
                                            {%endif%}
                                            {% if i['status'] == "In Progress" %}
                                            <td><a href="#" class="btn btn-info">In Progress</a></td>
                                            {%endif%}
                                        <td>
                                            {{flight_cus[i['flight_num']]}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "modify_form" style="display:none;">
                <form  class = "staff_form modify" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Modify Flight Status</h2>
                    <div class="form__group"  id='flight_num'>
                        <label for="from" class="form__label">Flight Number:</label>
                        <input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
                        <datalist id="list4">
                            {% for i in flight_num %}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form__group"  id='status'>
                        <label for="status" class="form__label">Modify Status:</label>
                        <input type="input" class="form__field" placeholder="Choose status"  list="list5"  autocomplete="off" name="status" />
                        <datalist id="list5">
                            <option>Upcoming</option>
                            <option>In Progress</option>
                            <option>Finished</option>
                            <option>Delayed</option>
                        </datalist>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" value='modify' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable" >
                    All Flight:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Airline name</th>
                                        <th scope="col">Flight number</th>
                                        <th scope="col">Departure time</th>
                                        <th scope="col">Arrivel time</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Departure</th>
                                        <th scope="col">Arrival</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Purchase Customers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all %}
                                    {% if i['airline_name']== cur_airline%}
                                    <tr>
                                        <td>{{ i['airline_name']}}</td>
                                        <td>{{ i['flight_num']}}</td>
                                        <td>{{ i['departure_time']}}</td>
                                        <td>{{ i['arrival_time']}}</td>
                                        <td>{{ i['price']}}</td>
                                        <!-- <td>{{ i['status']}}</td> -->
                                        <td>{{ i['Departure']}}</td>
                                        <td>{{ i['Arrival']}}</td>
                                        {% if i['status'] == "Upcoming" %}
                                            <td><a href="#" class="btn btn-success">Upcoming</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Finished" %}
                                            <td><a href="#" class="btn btn-danger">Finished</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Delayed" %}
                                            <td><a href="#" class="btn btn-light">Delayed</a></td>
                                            {%endif%}
                                            {% if i['status'] == "In Progress" %}
                                            <td><a href="#" class="btn btn-info">In Progress</a></td>
                                            {%endif%}
                                        <td>
                                            {{flight_cus[i['flight_num']]}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "add_flight" style="display:none;">
                <form  class = "staff_form add_flight" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Add Flight</h2>
                    <div class="form__group" >
                    <label for="flight_num" class="form__label">Flight Number:</label>
                    <input type="input" class="form__field" placeholder="Flight Number:"    autocomplete="off" name="flight_num" />
                    </div>
                    <div class="form__group" >
                    <label for="from" class="form__label">Departure</label>
                    <input type="input" class="form__field" placeholder="Click to choose departure place"  list="list1"  autocomplete="off" name="from" />
                    <datalist id="list1">
                        {% for i in departure_city %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                    </div>
                    <div class="form__group" >
                    <label for="from_time" class="form__label">Departure Time</label>
                    <input type="datetime-local"  name = "from_time">
                    </div>
                    <div class="form__group" >
                    <label for="to" class="form__label">Arrival</label>
                    <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list2"  autocomplete="off" name="to"  />
                    <datalist id="list2">
                        {% for i in arrival_city %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                    </div>
                    <div class="form__group" >
                    <label for="to_time" class="form__label">Arrival Time</label>
                    <input type="datetime-local"  name = "to_time">
                    </div>
                    <div class="form__group" >
                    <label for="price" class="form__label">Price</label>
                    <input type="number"  name = "price">
                    </div>
                    <div class="form__group" >
                    <label for="status" class="form__label">Status:</label>
                    <input type="input" class="form__field" placeholder="Choose status"  list="liststatus"  autocomplete="off" name="status" />
                    <datalist id="liststatus">
                        <option>Upcoming</option>
                        <option>In Progress</option>
                        <option>Finished</option>
                        <option>Delayed</option>
                    </datalist>
                    </div>
                    <div class="form__group" >
                    <label for="airplane" class="form__label">Airplane:</label>
                    <input type="input" class="form__field" placeholder="Choose airplane"  list="listairplane"  autocomplete="off" name="airplane" />
                    <datalist id="listairplane">
                        {% for i in airplanes %}
                        {% if i["airline_name"] == curairline%}
                        <option>{{ i['airplane_id'] }}</option>
                        {% endif %}
                        {% endfor %}
                    </datalist>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" value='add_flight' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    Upcoming Flight:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Airline name</th>
                                        <th scope="col">Flight number</th>
                                        <th scope="col">Departure time</th>
                                        <th scope="col">Arrivel time</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Departure</th>
                                        <th scope="col">Arrival</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Purchase Customers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all %}
                                    {% if i['airline_name'] == cur_airline and i['status'] == "Upcoming" %}
                                    <tr>
                                        <td>{{ i['airline_name']}}</td>
                                        <td>{{ i['flight_num']}}</td>
                                        <td>{{ i['departure_time']}}</td>
                                        <td>{{ i['arrival_time']}}</td>
                                        <td>{{ i['price']}}</td>
                                        <!-- <td>{{ i['status']}}</td> -->
                                        <td>{{ i['Departure']}}</td>
                                        <td>{{ i['Arrival']}}</td>
                                        {% if i['status'] == "Upcoming" %}
                                            <td><a href="#" class="btn btn-success">Upcoming</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Finished" %}
                                            <td><a href="#" class="btn btn-danger">Finished</a></td>
                                            {%endif%}
                                            {% if i['status'] == "Delayed" %}
                                            <td><a href="#" class="btn btn-light">Delayed</a></td>
                                            {%endif%}
                                            {% if i['status'] == "In Progress" %}
                                            <td><a href="#" class="btn btn-info">In Progress</a></td>
                                            {%endif%}
                                        <td>
                                            {{flight_cus[i['flight_num']]}}
                                        </td>
                                    </tr>
                                
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id ="add_airplane" style="display:none;">
                <form  class = "staff_form airplane_add" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Add Airplane</h2>
                    <div class="form__group" >
                    <label for="airplane_id" class="form__label">Airplane ID:</label>
                    <input type="number" class="form__field" placeholder="Airplane ID"    autocomplete="off" name="airplane_id" />
                    </div>
                    <div class="form__group" >
                        <label for="seats" class="form__label">Seats:</label>
                        <input type="number" class="form__field" placeholder="Seats"    autocomplete="off" name="seats" />
                        </div>
                    <div class="form-group form-button">
                        <input type="submit" value='add_airplane' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    Airplanes:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Airline name</th>
                                        <th scope="col">Airplane ID</th>
                                        <th scope="col">Seats</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all_airplanes %}
                                    {% if i['airline_name']== cur_airline %}
                                    <tr>
                                        <td>{{ i['airline_name']}}</td>
                                        <td>{{ i['airplane_id']}}</td>
                                        <td>{{ i['seats']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "add_airport" style="display:none;">
                <form id = "add_airport" class = "staff_form airport_add" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Add Airport</h2>
                    <div class="form__group" >
                    <label for="airport_name" class="form__label">Airport name:</label>
                    <input type="text" class="form__field" placeholder="Airport Name"    autocomplete="off" name="airport_name" />
                    </div>
                    <div class="form__group" >
                        <label for="airport_city" class="form__label">Airport City</label>
                        <input type="text" class="form__field" placeholder="Airport City"    autocomplete="off" name="airport_city" />
                        </div>
                    <div class="form-group form-button">
                        <input type="submit" value='add_airport' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    Airports:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Airport Name</th>
                                        <th scope="col">Airport City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all_airports %}
                                    <tr>
                                        <td>{{ i['airport_name']}}</td>
                                        <td>{{ i['airport_city']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "add_agent" style="display:none;">
                <form class = "staff_form agent_add" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Add Agent</h2>
                    <div class="form-group">
                        <label for="agent_email"></label>
                        <input type="text" name="agent_email" id="agent_email" placeholder="Email"/>
                        <label for="password"></label>
                        <input type="password" name="agent_pass" id="agent_pass" placeholder="Password"/>
                        <label for="agent_id"></label>
                        <input type="text" name="agent_id" id="agent_id" placeholder="Agent ID"/>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" value='add_agent' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    Booking Agents:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Booking Agent Email</th>
                                        <th scope="col">Booking Agent ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in all_agents %}
                                    <tr>
                                        <td>{{ i['booking_agent_email']}}</td>
                                        <td>{{ i['booking_agent_id']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id = "modify_permission" style="display:none;">
                <form  class = "staff_form permission_modify" action="/sign_in/staff_home" method="post" >
                    <h2 class="form">Modify Staff Permission</h2>
                    <div class = "form-group">
                        <label for="staff_uname" class="form__label">Select Staff</label>
                        <input type="input" class="form__field" placeholder="Click to select staff"  list="all_staff"  autocomplete="off" name="staff_uname" />
                        <datalist id="all_staff">
                            {% for i in all_staff %}
                                {%  if i['airline'] == cur_airline %}
                            <option>{{ i['username'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class = "form-group">
                    <label for="permission" class="form__label">Modify Permission Type</label>
                        <input type="input" class="form__field" placeholder="Click to modify permission type"  list="permission_type"  autocomplete="off" name="permission" />
                        <datalist id="permission_type">
                            <option>Admin</option>
                            <option>Operator</option>
                        </datalist>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" value='modify_permission' name = "submit_button" class="search" />
                    </div>
                    <a href="#info-table" class="posi_button">Click here to see information</a>
                </form>
                <div class="containertable " >
                    Airline Staffs:
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-wrap" id = "info-table">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Staff Username</th>
                                        <th scope="col">Permission Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <th scope="row" id='ugly'></th> -->
                                    {% for i in  all_permission %}
                                    <tr>
                                        <td>{{ i['username']}}</td>
                                        <td>{{ i['permission_type']}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="table-container">
                <section>
                  <form action="/sign_in/staff_home" onsubmit="return formValidation()" autocomplete="off" method="POST">
                    <div class="bluebutton">
                        <div class="smaller-date-container">
                            <label class="label">Start date</label>             
                            <input type="date" name = "start_date">
                        </div>
                        <div class="smaller-date-container">
                            <label class="label">End date</label>             
                            <input type="date" name = "end_date">
                        </div>
                        <div class="smaller-date-container">
                          <input type="submit" name = "submit_button" value = "date_filter">
                            <!-- <button class="datebutton" onclick="submitdate()">Filter</button> -->
                        </div>
                    </div>
                  </form>
                </section>
      <!-- <<<<<<< Updated upstream -->
                <!-- <table id="exa"> -->
                    <!-- <thead style="display: table-header-group;"></thead> -->
      <!-- ======= -->
                <!-- <table id="exa" class="table">
                    <thead style="display: table-header-group;"></tfoot       > -->
      <!-- >>>>>>> Stashed changes -->
                </table>
              </br>
        
        
            </br>
            </div>  
        <div id="chart_div"></div>
        <div class="top_agents">
            Top agents (ticket) in the past month:<br> 
            {% for i in top_agent_month %}
            <p>{{i["booking_agent_email"]}} : sold {{i["num_of_ticket"]}} tickets</p>
            {% endfor %}
            Top agents(ticket) in the past year:<br> 
            {% for i in top_agent_year %}
            <p>{{i["booking_agent_email"]}} : sold {{i["num_of_ticket"]}} tickets </p>
            {% endfor %}
            Top agents(commission) in the past year:
            {% for i in top_agent_commission %}
            <p>{{i["booking_agent_email"]}} : {{i["commission"]}}  </p>
            {% endfor %}
        </div>
        <div class=" top_customers">
            Customer that buy the most tickets in the past year:
            {% for i in top_cus %}
            <p>{{i["customer_email"]}} : {{i["num_of_ticket"]}}  </p>
            {% endfor %}
            Customer List:
            <!-- <p>{{cus_info}}</p> -->
            {% for i in cus_info %}
            <p>{{i["customer_email"]}} : {{i["flight_numbers"]}}  </p>
            {% endfor %}
        </div>
        <div class="top_des">
            Top 3 destinations in the past 3 months<br>
            {% for i in top_des_three %}
            <p>{{i["dst"]}} : {{i["num_of_purchase"]}}  </p>
            {% endfor %}
            Top 3 destinations in the past year <br>
            {% for i in top_des_year %}
            <p>{{i["dst"]}} : {{i["num_of_purchase"]}}</p>
            {% endfor %}
        </div>
        <div id="pie_chart1"></div>
        <div id="pie_chart2"></div>
        </div>
        </div>		
        </div>
    

</div>  





<!-- <div class="commission"> Total commission(Month):{{total_month}} <br>
Average commission(Month): {{avg_month}} <br> Total commission(Year):{{total_year}} <br>
    Average commission(Year): {{avg_year}}</div> -->

{%if error%}
<div> {{error}} </div>
{%endif%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
      let info = {{month_wise | safe}}
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Month');
      data.addColumn('number', 'Tickets');
      data.addRows(info);
      // data.clearChart();


      // Set chart options
      // if (){
      // var options = {
      //     title: 'My Spending in the last six months: ',
      //     width: 1000,
      //     height: 600 * info.length / 7}
      //   };

      // in the specified range of months

      // if (){
      var options = {
          title: 'Total amounts of ticket sold: ',
          width: 1000,
          height: 600 * info.length / 7,
        };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    function drawChart1() {
        let info = {{direct_sales_month | safe}}
        let info2 = {{indirect_sales_month | safe}}

        var data = google.visualization.arrayToDataTable([
            ['string', 'number'],
            ['direct sales without booking agent', info[0]],
            ['indirect sales with booking agent', info2[0]]]
        );


        // Set chart options
        var options = {
            title: 'Comparison of revenue earned last month: ',
            height: 350,
            pieSliceText: 'percentage'
            };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pie_chart1'));
        chart.draw(data, options);
    }

    function drawChart2() {
    let info = {{direct_sales_year | safe}}
    let info2 = {{indirect_sales_year | safe}}

    var data = google.visualization.arrayToDataTable([
        ['string', 'number'],
        ['direct sales without booking agent', info[0]],
        ['indirect sales with booking agent', info2[0]]]
    );


    // Set chart options
    var options = {
        title: 'Comparison of revenue earned last year: ',
        height: 350,
        pieSliceText: 'percentage'
        };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('pie_chart2'));
    chart.draw(data, options);
    }
  </script>

<script >
    // JavaScript logic to show/hide forms based on the selected option
    const selectIdentity = document.getElementById('selectView');
    const view1 = document.getElementById('search_form');
    const view2 = document.getElementById('modify_form');
    const view3 = document.getElementById('add_flight');
    const view4 = document.getElementById('add_airplane');
    const view5 = document.getElementById('add_airport');
    const view6 = document.getElementById('add_agent');
    const view7 = document.getElementById('modify_permission');

    // Add event listener to the select element
    selectIdentity.addEventListener('change', function handleChange(event) {
        // Show the selected form based on the selected option
        console.log(event.target.value);
        if (event.target.value === 'general') {
        view1.style.display = 'inline';
        view2.style.display = "none";
        view3.style.display = "none";
        view4.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        } else if (event.target.value === 'status_modify') {
        view2.style.display = 'inline';
        view1.style.display = "none";
        }else if (event.target.value === 'flight_add') {
        view3.style.display = 'inline';
        view1.style.display = "none";
        view4.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "airplane_add"){
        view4.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "airport_add"){
        view5.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "agent_add"){
        view6.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view5.style.display = 'none';
        view7.style.display = 'none';
        }else if(event.target.value ==="permission_modify"){
        view7.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        }
    });
</script>
<!-- <script>
    google.charts.load('current', {'packages':['corechart']});
    function drawChart1() {
    let info = {{direct_sales_month | safe}}
    let info2 = {{indirect_sales_month | safe}}

    var data = google.visualization.arrayToDataTable([
        ['string', 'number'],
        ['direct sales without booking agent', info[0][0]],
        ['indirect sales with booking agent', info2[0][0]]]
    );


    // Set chart options
    var options = {
        title: 'Comparison of revenue earned last month: ',
        height: 350,
        pieSliceText: 'percentage'
        };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('pie_chart1'));
    chart.draw(data, options);
    }

    function drawChart2() {
    let info = {{direct_sales_year | safe}}
    let info2 = {{indirect_sales_year | safe}}

    var data = google.visualization.arrayToDataTable([
        ['string', 'number'],
        ['direct sales without booking agent', info[0][0]],
        ['indirect sales with booking agent', info2[0][0]]]
    );


    // Set chart options
    var options = {
        title: 'Comparison of revenue earned last year: ',
        height: 350,
        pieSliceText: 'percentage'
        };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('pie_chart2'));
    chart.draw(data, options);
    }
</script> -->
{%endblock%}