{% extends"layout.html" %}

{%block body %}
<form class="d-flex" >

	<a href='{{ url_for("sign_out") }}'>
		<input type = 'button' class="btn btn-outline-success"  style="margin-right: 10pt; color = white;" value="Sign out"/>
	</a>
</form>
<div class='container'>
    <div class="home-content">
        <div class="home-form">  
            <div class="form-group">
                <label for="selectView">I want to  &nbsp</label>
                <select id="selectView">
                    <option value="general">Search Flight</option>
                    {% if permission == "Operator" %}
                    <option value="status_modify">Modify Flight</option>
                    {% endif %}
                    {% if permission == "Admin" %}
                    <option value="flight_add">Add Flight</option>
                    <option value="airplane_add">Add Airplane</option>
                    <option value="airport_add">Add Airport</option>
                    <option value="permission_modify">Modify Permission</option>
                    <option value="agent_add">Add Booking Agent</option>
                    {% endif %}
                </select>
                  
        
            
            <form id = "search_form"class = "purchase_form"action="/sign_in/staff_home" method="post">
                <h2 class="form">Search Flight</h2>
                <div class="form__group" id='from'>
                    <label for="from" class="form__label">Departure</label>
                    <input type="input" class="form__field" placeholder="Click to choose departure place"  list="list1"  autocomplete="off" name="from" />
                    <datalist id="list1">
                        {% for i in departure_city %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                
                <div class="form__group"  id='to'>
                    <label for="from" class="form__label">Arrival</label>
                    <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list2"  autocomplete="off" name="to"  />
                    <datalist id="list2">
                        {% for i in arrival_city %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                </div>
    
                <div class="form__group" id='date'>
                    <label for="from" class="form__label">Departure_time</label>
                    <input type="date" class="form__field" placeholder="" name="date" />
                </div>
    
                <div class="form__group"  id='airline'>
                    <label for="from" class="form__label">Airline Name</label>
                    <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list3"  autocomplete="off" name="airline"  />
                    <datalist id="list3">
                        {% for i in airlines %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                </div>
    
                <div class="form__group"  id='flight_num'>
                    <label for="from" class="form__label">Flight Number:</label>
                    <input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
                    <datalist id="list4">
                        {% for i in flight_num %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                </div>
        
                <div class="form-group form-button">
                    <input type="submit" value='search' name = "submit_button" class="search" />
                </div>
                <div class="form-group form-button">
                    <input type="submit" value='clear_search' name = "submit_button" class="search" />
                </div>
                
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "modify_form" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Modify Flight Status</h2>
                <div class="form__group"  id='flight_num'>
                    <label for="from" class="form__label">Flight Number:</label>
                    <input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
                    <datalist id="list4">
                        {% for i in flight_num %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form__group"  id='status'>
                    <label for="status" class="form__label">Modify Status:</label>
                    <input type="input" class="form__field" placeholder="Choose status"  list="list5"  autocomplete="off" name="status" />
                    <datalist id="list5">
                        <option>Upcoming</option>
                        <option>In Progress</option>
                        <option>Finished</option>
                        <option>Delayed</option>
                    </datalist>
                </div>
                <div class="form-group form-button">
                    <input type="submit" value='modify' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "add_flight" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Add Flight</h2>
                <div class="form__group" >
                <label for="airline" class="form__label">Airline:</label>
                <input type="input" class="form__field" placeholder="Choose Airline:"  list="listairline"  autocomplete="off" name="airline" />
                <datalist id="listairline">
                    {% for i in airlines %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </datalist>
                </div>
                <div class="form__group" >
                <label for="flight_num" class="form__label">Flight Number:</label>
                <input type="input" class="form__field" placeholder="Flight Number:"    autocomplete="off" name="flight_num" />
                </div>
                <div class="form__group" >
                <label for="from" class="form__label">Departure</label>
                <input type="input" class="form__field" placeholder="Click to choose departure place"  list="list1"  autocomplete="off" name="from" />
                <datalist id="list1">
                    {% for i in departure_city %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </datalist>
                </div>
                <div class="form__group" >
                <label for="from_time" class="form__label">Departure Time</label>
                <input type="datetime-local"  name = "from_time">
                </div>
                <div class="form__group" >
                <label for="to" class="form__label">Arrival</label>
                <input type="input" class="form__field" placeholder="Click to choose arrival place"  list="list2"  autocomplete="off" name="to"  />
                <datalist id="list2">
                    {% for i in arrival_city %}
                    <option>{{ i }}</option>
                    {% endfor %}
                </datalist>
                </div>
                <div class="form__group" >
                <label for="to_time" class="form__label">Arrival Time</label>
                <input type="datetime-local"  name = "to_time">
                </div>
                <div class="form__group" >
                <label for="price" class="form__label">Price</label>
                <input type="number"  name = "price">
                </div>
                <div class="form__group" >
                <label for="status" class="form__label">Status:</label>
                <input type="input" class="form__field" placeholder="Choose status"  list="liststatus"  autocomplete="off" name="status" />
                <datalist id="liststatus">
                    <option>Upcoming</option>
                    <option>In Progress</option>
                    <option>Finished</option>
                    <option>Delayed</option>
                </datalist>
                </div>
                <div class="form__group" >
                <label for="airplane" class="form__label">Airplane:</label>
                <input type="input" class="form__field" placeholder="Choose airplane"  list="listairplane"  autocomplete="off" name="airplane" />
                <datalist id="listairplane">
                    {% for i in airplanes %}
                    <option>{{ i['airplane_id'] }}</option>
                    {% endfor %}
                </datalist>
                </div>
                <div class="form-group form-button">
                    <input type="submit" value='add_flight' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "add_airplane" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Add Airplane</h2>
                <div class="form__group" >
                <label for="airplane_id" class="form__label">Airplane ID:</label>
                <input type="number" class="form__field" placeholder="Airplane ID"    autocomplete="off" name="airplane_id" />
                </div>
                <div class="form__group" >
                    <label for="seats" class="form__label">Seats:</label>
                    <input type="number" class="form__field" placeholder="Seats"    autocomplete="off" name="seats" />
                    </div>
                <div class="form-group form-button">
                    <input type="submit" value='add_airplane' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "add_airport" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Add Airport</h2>
                <div class="form__group" >
                <label for="airport_name" class="form__label">Airport name:</label>
                <input type="text" class="form__field" placeholder="Airport Name"    autocomplete="off" name="airport_name" />
                </div>
                <div class="form__group" >
                    <label for="airport_city" class="form__label">Airport City</label>
                    <input type="text" class="form__field" placeholder="Airport City"    autocomplete="off" name="airport_city" />
                    </div>
                <div class="form-group form-button">
                    <input type="submit" value='add_airport' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "add_agent" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Add Agent</h2>
                <div class="form-group">
                    <label for="agent_email"></label>
                    <input type="text" name="agent_email" id="agent_email" placeholder="Email"/>
                    <label for="password"></label>
                    <input type="password" name="agent_pass" id="agent_pass" placeholder="Password"/>
                    <label for="agent_id"></label>
                    <input type="text" name="agent_id" id="agent_id" placeholder="Agent ID"/>
                </div>
                <div class="form-group form-button">
                    <input type="submit" value='add_agent' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            <form id = "modify_permission" class = "purchase_form"action="/sign_in/staff_home" method="post" style="display:none;">
                <h2 class="form">Modify Staff Permission</h2>
                <div class = "form-group">
                    <label for="staff_uname" class="form__label">Select Staff</label>
                    <input type="input" class="form__field" placeholder="Click to select staff"  list="all_staff"  autocomplete="off" name="staff_uname" />
                    <datalist id="all_staff">
                        {% for i in all_staff %}
                        <option>{{ i['username'] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class = "form-group">
                <label for="permission" class="form__label">Modify Permission Type</label>
                    <input type="input" class="form__field" placeholder="Click to modify permission type"  list="permission_type"  autocomplete="off" name="permission" />
                    <datalist id="permission_type">
                        <option>Admin</option>
                        <option>Operator</option>
                    </datalist>
                </div>
                <div class="form-group form-button">
                    <input type="submit" value='modify_permission' name = "submit_button" class="search" />
                </div>
                <a href="#info-table" class="posi_button">Click here to see information</a>
            </form>
            </div>
        </div>
        </div>		
        </div>
    
</div>


</div>
<div class="containertable" id = 'all'>
	All Flight:
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrap" id = "info-table">
				<table class="table table-striped">
				  <thead>
					<tr>
						<th scope="col">Airline name</th>
						<th scope="col">Flight number</th>
						<th scope="col">Departure time</th>
						<th scope="col">Arrivel time</th>
						<th scope="col">Price</th>
						<th scope="col">Departure</th>
						<th scope="col">Arrival</th>
						<th scope="col">Status</th>
						<th scope="col">Purchase Customers</th>
					</tr>
				  </thead>
				<tbody>
					<!-- <th scope="row" id='ugly'></th> -->
					{% for i in all %}
                    {% if i['airline_name']== cur_airline%}
					<tr>
						<td>{{ i['airline_name']}}</td>
						<td>{{ i['flight_num']}}</td>
						<td>{{ i['departure_time']}}</td>
						<td>{{ i['arrival_time']}}</td>
						<td>{{ i['price']}}</td>
						<!-- <td>{{ i['status']}}</td> -->
						<td>{{ i['Departure']}}</td>
						<td>{{ i['Arrival']}}</td>
						{% if i['status'] == "Upcoming" %}
							<td><a href="#" class="btn btn-success">Upcoming</a></td>
							{%endif%}
							{% if i['status'] == "Finished" %}
							<td><a href="#" class="btn btn-danger">Finished</a></td>
							{%endif%}
							{% if i['status'] == "Delayed" %}
							<td><a href="#" class="btn btn-light">Delayed</a></td>
							{%endif%}
							{% if i['status'] == "In Progress" %}
							<td><a href="#" class="btn btn-info">In Progress</a></td>
							{%endif%}
						<td>
							{{flight_cus[i['flight_num']]}}
						</td>
					</tr>
                    {% endif %}
					{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>





<!--<default view of upcoming schedule>-->
<!--  diagram -->
{% if data_list %}
{% set d = data_list %}


    <div id="container" style="width: 550px; height: 400px; margin: 0 auto; display:block; background:transparent; position:absolute; left:25pt; top:500pt;"></div>
    <script language="JavaScript">
        function drawChart() {
            var data = google.visualization.arrayToDataTable({{data_list|safe}})
            var options = {
                title: 'Page visit per year',
                isStacked: true,
                                    // backgroundColor: '#E4E4E4',
                                is3D: true,
                                backgroundColor: {
    fill: '#FF0000',
    fillOpacity: 0
  },
            };
            /Instantiate and draw the chart.*/
            var chart = new google.visualization.BarChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>
{% endif %}

<!-- <div class="commission"> Total commission(Month):{{total_month}} <br>
Average commission(Month): {{avg_month}} <br> Total commission(Year):{{total_year}} <br>
    Average commission(Year): {{avg_year}}</div> -->

{%if error%}
<div> {{error}} </div>
{%endif%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script >
    // JavaScript logic to show/hide forms based on the selected option
    const selectIdentity = document.getElementById('selectView');
    const view1 = document.getElementById('search_form');
    const view2 = document.getElementById('modify_form');
    const view3 = document.getElementById('add_flight');
    const view4 = document.getElementById('add_airplane');
    const view5 = document.getElementById('add_airport');
    const view6 = document.getElementById('add_agent');
    const view7 = document.getElementById('modify_permission');
   
    // Add event listener to the select element
    selectIdentity.addEventListener('change', function handleChange(event) {
        // Show the selected form based on the selected option
        console.log(event.target.value);
        if (event.target.value === 'general') {
        view1.style.display = 'inline';
        view2.style.display = "none";
        view3.style.display = "none";
        view4.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        } else if (event.target.value === 'status_modify') {
        view2.style.display = 'inline';
        view1.style.display = "none";
        }else if (event.target.value === 'flight_add') {
        view3.style.display = 'inline';
        view1.style.display = "none";
        view4.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "airplane_add"){
        view4.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "airport_add"){
        view5.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view6.style.display = 'none';
        view7.style.display = 'none';
        }else if (event.target.value === "agent_add"){
        view6.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view5.style.display = 'none';
        view7.style.display = 'none';
        }else if(event.target.value ==="permission_modify"){
        view7.style.display = 'inline';
        view1.style.display = "none";
        view3.style.display = 'none';
        view4.style.display = 'none';
        view2.style.display = 'none';
        view5.style.display = 'none';
        view6.style.display = 'none';
        }
    });
</script>

{%endblock%}