{% extends"layout.html" %}

{%block body %}
<div class='container'>
		<div class='stripe-text'>Find Flight Deals</div>
	</div>

	<form action="/sign_in/staff_home" method="post">
		<div class="form__group field" id='from'>
			<input type="input" class="form__field" name="from" placeholder="Departure"  list="list1"  autocomplete="off" name="from"  />
			<label for="from" class="form__label">Departure</label>
			<datalist id="list1">
				{% for i in departure_city %}
				<option>{{ i }}</option>
				{% endfor %}
			</datalist>
		</div>

		<div class="form__group field"  id='to'>
			<input type="input" class="form__field" name="to" placeholder="Arrival"  list="list2"  autocomplete="off" name="to"  />
			<label for="from" class="form__label">Arrival</label>
			<datalist id="list2">
				{% for i in arrival_city %}
				<option>{{ i }}</option>
				{% endfor %}
			</datalist>
		</div>
		<div class="form__group field" id='date'>
			<input type="date" class="form__field" placeholder="" name="date" />
			<label for="from" class="form__label">Departure_time</label>
		</div>
		<div class="form__group field"  id='flight_num'>
			<input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
			<label for="from" class="form__label">Flight Number:</label>
			<datalist id="list4">
				{% for i in flight_num %}
				<option>{{ i }}</option>
				{% endfor %}
			</datalist>
		</div>
		<div class="form-group form-button">
			<input type="submit" name="search" id="search" class="form-submit" value="Search"/>
		</div>
		<!-- <div  id = 'search'> -->
				<!-- <button id = 'search'><input type="submit" value='Search'  class="search">Search</button> -->
		<!-- </div> -->
	</form>

<!-- <div class="tables"> -->
	<div class="containertable" id = 'all'>
		All:
		<table>
			<thead>
				<tr>
					<th scope="col">Airline name</th>
					<th scope="col">Flight number</th>
					<th scope="col">Departure time</th>
					<th scope="col">Arrivel time</th>
					<th scope="col">Price</th>
					<th scope="col">Status</th>
					<th scope="col">Departure</th>
					<th scope="col">Arrival</th>
				</tr>
			</thead>
			<tbody>
				<th scope="row" id='ugly'></th>
				{% for i in all %}
				<tr>
					<td>{{ i['airline_name']}}</td>
					<td>{{ i['flight_num']}}</td>
					<td>{{ i['departure_time']}}</td>
					<td>{{ i['arrival_time']}}</td>
					<td>{{ i['price']}}</td>
					<td>{{ i['status']}}</td>
					<td>{{ i['Departure']}}</td>
					<td>{{ i['Arrival']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<form class="d-flex" action="/sign_in/agent_home" method="post">

					<button id = 'Purchase'><input type="submit" value='Purchase' /id = 'ugly' class="search">Purchase</button>

		<div class="form__group field"  id='Customer'>
		<input type="input" class="form__field" placeholder="Customer:"  autocomplete="on" name="customer_email"  />
		<label for="from" class="form__label">Customer:</label>
	</div>

	<div class="form__group field"  id='flight_num1'>
		<input type="input" class="form__field" placeholder="Flight Number:"  list="list4"  autocomplete="off" name="flight_num" />
		<label for="from" class="form__label">Flight Number:</label>
		<datalist id="list4">
			{% for i in flight_num %}
			<option>{{ i }}</option>
			{% endfor %}
		</datalist>
	</div>
	</form>

	<!--<default view of upcoming schedule>-->
	<div class="containertable" id = 'history'>
		Your history:
		<table>
			<thead>
				<tr>
					<th scope="col">Airline name</th>
					<th scope="col">Flight number</th>
					<th scope="col">Departure time</th>
					<th scope="col">Arrivel time</th>
					<th scope="col">Price</th>
					<th scope="col">Status</th>
					<th scope="col">Departure</th>
					<th scope="col">Arrival</th>
				</tr>
			</thead>
			<tbody>
				<th scope="row" id='ugly'></th>
				{% for i in purchased %}
				<tr>
					<td>{{ i['airline_name']}}</td>
					<td>{{ i['flight_num']}}</td>
					<td>{{ i['departure_time']}}</td>
					<td>{{ i['arrival_time']}}</td>
					<td>{{ i['price']}}</td>
					<td>{{ i['status']}}</td>
					<td>{{ i['Departure']}}</td>
					<td>{{ i['Arrival']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


<!-- diagram -->
{% if data_list1 %}
{% set d = data_list1 %}


		<div id="container" style="width: 550px; height: 400px; margin: 0 auto; display:block; background:transparent; position:absolute; left:25pt; top:500pt;"></div>
		<script language="JavaScript">
				function drawChart() {
						var data = google.visualization.arrayToDataTable({{data_list|safe}})
						var options = {
								title: 'Page visit per year',
								isStacked: true,
										// backgroundColor: '#E4E4E4',
								is3D: true,
								backgroundColor: {
			fill: '#FF0000',
			fillOpacity: 0
		},
						};
						/Instantiate and draw the chart.*/
						var chart = new google.visualization.BarChart(document.getElementById('container'));
						chart.draw(data, options);
				}
				google.charts.setOnLoadCallback(drawChart);
		</script>
{% endif %}

<div class="commission"> Total commission(Month):{{total_month}} <br>
	Average commission(Month): {{avg_month}} <br> Total commission(Year):{{total_year}} <br>
		Average commission(Year): {{avg_year}}</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{%endblock%}