{% extends"layout.html" %}
{%block body %}
<div class="container">
    <div class="home-content">
		<div class="home-form">
    <div class="Search flight" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Welcome to the flight booking system</h5>
        <h6 class="card-subtitle mb-2 text-muted">Start your journey</h6>
        <p class="card-text">We are a world leading flight booking platform. Our mission is to provide our customer a one-stop solution platform for your flight journey.  </p>
<!--        <a href="#" class="card-link">Another link</a>-->
    </div>
</div>
</div>
</div>
{%endblock%}