{% extends"layout.html" %}

{%block body %}

<section class="sign-in">
    <div class="container">
        <div class="containertable" id = 'all'>
            All Flight:
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap" id = "info-table">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th scope="col">Airline name</th>
                                <th scope="col">Flight number</th>
                                <th scope="col">Departure time</th>
                                <th scope="col">Arrivel time</th>
                                <th scope="col">Price</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Status</th>
                            </tr>
                          </thead>
                        <tbody>
                            <!-- <th scope="row" id='ugly'></th> -->
                            {% for i in d %}
                            <tr>
                                <td>{{ i['airline_name']}}</td>
                                <td>{{ i['flight_num']}}</td>
                                <td>{{ i['departure_time']}}</td>
                                <td>{{ i['arrival_time']}}</td>
                                <td>{{ i['price']}}</td>
                                <!-- <td>{{ i['status']}}</td> -->
                                <td>{{ i['Departure']}}</td>
                                <td>{{ i['Arrival']}}</td>
                                {% if i['status'] == "Upcoming" %}
                                <td><a href="#" class="btn btn-success">Upcoming</a></td>
                                {%endif%}
                                {% if i['status'] == "Finished" %}
                                <td><a href="#" class="btn btn-danger">Finished</a></td>
                                {%endif%}
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
{%endblock%}